button {
	display:flex;
	align-items:center;
	line-height:1.15;
	padding:10px 15px 10px 10px;
	row-gap: 5px;
	column-gap: 5px;
	border:none;
	border-radius:6px; 
	font-size:11pt;
	background:#dcdcdc;
	transition:background 250ms ease-in-out, transform 150ms ease;

	&:hover {
		background:#eaeaea;
	}

	&:focus {
		outline: none;
		box-shadow: 0px 0px 0px 3px white;
	}

	&:active {
		transform: scale(0.99);
	}
    
	&:disabled {
		background: #bfbfbf !important; 
		outline: none;
		box-shadow: none;
	}
	
	&:disabled span.text {
		color:#777777 !important;
		text-shadow: 0px 1px 0px rgba(255,255,255,.5);
	}
	
	&:disabled span.icon {
		filter: grayscale(100%) contrast(33%) brightness(1.5);
	}
	
	span.icon {
		font-size:24px;
	}
}

button.orange {
	color:white;
	background:#F44336;

	&:hover {
		background:#FF5722;
		color:white;
	}

	&:focus {
		box-shadow: 0px 0px 0px 3px #ffb0aa;
	}
}

button.green {
	color:white;
	background:#2E7D32;

	&:hover {
		background:#43A047;
		color:white;
	}

	&:focus {
		box-shadow: 0px 0px 0px 3px #7ce482;
	}
}

button.purple {
	color:white;
	background:#673AB7;

	&:hover {
		background:#7E57C2;
		color:white;
	}

	&:focus {
		box-shadow: 0px 0px 0px 3px #a989e0;
	}
}

button.cyan {
	color:white;
	background:#00796B;

	&:hover {
		background:#009688;
		color:white;
	}

	&:focus {
		box-shadow: 0px 0px 0px 3px #68cabc;
	}
}
